<a href="https://colab.research.google.com/github/HassanAbbas7357/Python-Cisco-Assignment/blob/master/Assignment%2002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print("All  subjects conatining 100 marks input the obtained marks")
english = int(input("Enter marks of english"))
maths = int(input("Enter marks of maths"))
science = int(input("Enter marks of science"))
gk = int(input("Enter marks of gk"))
urdu = int(input("Enter marks of urdu"))
total = english+maths+science+gk+urdu
if total >= 400:
  print("Pass Grade A")
elif total >= 350:
  print("Pass Grade B")
elif total >= 250:
  print("Pass Grade c")
elif total >= 200:
  print("Pass Grade D")

else:
  print("Fail")

All  subjects conatining 100 marks input the obtained marks
Enter marks of english77
Enter marks of maths77
Enter marks of science77
Enter marks of gk77
Enter marks of urdu77
Pass Grade B

In [12]:
a = int(input("Enter a num"))
if a % 2:
  print("odd")
else:
  print("even")

Enter a num3
odd

In [13]:
list = [1,2,3,4,5,]
print(len(list))

5

In [19]:
list = [1,2,3,4,5,]
total = 0
for i in list:
  total=total+i
print(total)

15

In [21]:
lst = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Maximum element in the list is :", max(lst), "\nMinimum element in the list is :", min(lst))

How many numbers: 2
Enter number 1
Enter number 2
Maximum element in the list is : 2
Minimum element in the list is : 1

In [23]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
  if i <5:
    print(i)

1
1
2
3